$button-color: #0A283E;

.btn {
  background-color: $button-color;
  color: #FFFFFF;
  padding: 15px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    background-color: lighten($color: #0A283E, $amount: 10);
  }
}