.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 0 3rem;
  box-shadow: 0 2px 3px #00000025;
  height: 5rem;
}
